{% extends 'base.html' %}

{% block container %}
    <h2>Все потоки</h2>
    {% for a in articles %}
        <a href="{% url 'author-profile' a.author.id %}" title="Автор публикации"><i>{{ a.author }}</i></a>
        <small class="text-muted">{{ a.publications_date }}</small>
        <br>
        <h4 id='article{{ a.id }}'><a href="{% url 'article' a.id %}">{{ a.title }}</a></h4>
        <b>Прочитано: {{ a.readers.count }}</b><br>
        <b>Понравилось: {{ a.likes }}</b>
        <br>
        {% empty %}
        <h5>No publications.</h5>
    {% endfor %}

{% endblock %}