{% extends 'base.html' %}

{% block content %}

    <h2>{{ article.title }}</h2>
    <div>{{ article.text }}</div>
    <i>Автор: {{ article.author }}</i>
    <h6>Понравилось: {{ article.likes }}</h6>
    <h5>Прочитали: {{ article.readers.count }}</h5>
    <ul>
    {% for reader in article.readers.all %}
        <li>{{ reader }}</li>
    {% endfor %}
    </ul>
    <h5>Комментарии:</h5>
    {% for comment in article.comments.all %}
        <dl>{{ comment.user }} - 
        <a href="{% url 'edit-comment' comment.id %}">{{ comment.text }}</a></dl>
    {% endfor %}
    <hr>
    <a href="{% url 'edit-article' article.id %}" class="btn btn-lg btn-warning">Редактировать</a>
    <br>
    <br>
    <form method="POST">{% csrf_token %}
        <button class="btn btn-lg btn-danger">Удалить статью</button>
    </form>
{% endblock %}