{% extends 'base.html' %}

{% block content %}

    <h2>Статьи:</h2>
    <hr>
    {% for a in articles %}
        <h3>{{ a.title }} </i></h3>
        <div>{{ a.text }}</div>
        <i>Автор - {{ a.author }}</i>
        <br>
        <b>Прочитано: {{ a.readers.count }}</b>
        <div>Комментарии:</div>
        <h4>{{ a.comments }}</h4>
        <hr>
    {% endfor %}
    <hr><hr>

    <h3>Статьи автора {{ wind }}</h3>
    <ol>
    {% for article in wind.articles.all %}
        <li>{{ article.title }}</li>
    {% endfor %}
    </ol>
    <hr>
    <h3>Прочитано пользователем {{ wind }}</h3>
    <ol>
    {% for article in wind.user.articles.all %}
        <li>{{ article.title }}</li>
    {% endfor %}
    </ol>
  

{% endblock %}
